@charset "UTF-8";
/*------------------------------------
 * sext-vi fork from http://lhzhang.com/
 * @author linghua.zhang@me.com
 * @modify by shouda
 * --------------------------------- */

@import url(/media/fonts/telex-regular.css);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300);

html { font-size: 18px; }

@media screen and (min-width: 889px) {
  body { width: 90%; max-width: 800px; }
}
@media screen and (max-width: 888px) {
  body { width: 90%; }
}

ul { padding: 0; list-style-position: inside; }
ul li { padding: .2em 0; line-height: 1.5em; list-style-type: circle; }
ol { padding: 0; list-style-position: inside; }
ol li { padding: .2em 0; line-height: 1.5em; }

hr {
  width: 80%;
  border: none;
  border-top: 2px dashed #8b8b8b;
  border-bottom: 2px dashed #8b8b8b;
}

p { margin: 1em 0 1em 0 }

strong { color: #524941; }

pre { overflow: auto; }
blockquote, pre code {
  color: #dadada;
  background-color: #8b8b8b;
  margin: 0;
  padding: 0 1em .5em 1em;
  border-left: 5px solid #dadada !important;
  font-size: 1em;
  line-height: 1.5em;
  display: block;
  overflow: auto;
}
code {
  background-color: #8b8b8b;
  padding: 2px 5px;
  font-family: Ubuntu, monospace;
}

img {
  max-width: 100%;
  display: block;
  margin: .5em auto;
}

.myn2 { margin-top: 2em; margin-bottom: 2em; }
.myn3 { margin-top: 3em; margin-bottom: 3em; }

.pr2 { padding-right: 2em; }

.font-normal { font-family: telexregular, Heiti TC, Hiragino Sans GB, Microsoft JhengHei, Microsoft YaHei, sans-serif; }
time { font-family: Ubuntu, monospace; }

.line-h15 { line-height: 1.5em; }
.line-h20 { line-height: 2em; }

.color-bg { background-color: #777; }
.color-normal { color: #cacaca; }
.color-title { color: #afafaf; }
.color-divider { color: #8b8b8b; }
.color-strong { color: #524941; }
.color-list { color: #afafaf; }
.color-footer { color: #8b8b8b; }

.link-normal a { text-decoration: none; color: #403232; }
.link-normal a:hover { text-decoration: none; color: #635f5a; }
.link-header a { color: #635a5a; }
.link-title a { color: #afafaf; }
.link-divider a { color: #8b8b8b; }
.link-list a { padding: .2em 0 .2em 0; }
.link-list a:hover { background-color: #8b8b8b; }
.link-footer a { color: #635f5a; }
.link-footer a:hover { color: #afafaf; }

.divider {
  position: relative;
  font-size: 1em;
  z-index: 1;
  overflow: hidden;
  text-align: center;
}
.divider:before, .divider:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 49%;
  height: 2px;
  content: '\a0';
  background-color: #8b8b8b;
}
.divider:before {
  margin-left: -50%;
  text-align: right;
}
.divider:after {
  margin-left: 1%;
}

.list-none { list-style-type: none; }
li.list-seperator:before { padding-right: .5em; content: "⊡"; color: #afafaf; }

#tag_cloud { margin-bottom: 1em; }

.gist { font-size: 16px; line-height: 1.5em; }

.like-wrapper { color: #999; }
.like-wrapper .like-button, .like-wrapper .unlike-button { font-family: "FontAwesome"; padding-right: 5px; }
.like-wrapper .like-button:hover { color: #dd1144; }
.like-wrapper .like-button.liked:hover { color: #999; }
