/*------------------------------------
 * sext-vi
 *
 * @author linghua.zhang@me.com
 * @link http://lhzhang.com/
 * @update 2014-03-17
 *
 * |/ | (~ (~
 * |\.|._)._)
 * --------------------------------- */

@import url(/media/fonts/telex-regular.css);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300);

$font-name: "telexregular";
$mono-font-name: "Ubuntu";
$page-width: 100%;
$font: $font-name, "Heiti TC", "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft YaHei", sans-serif;
$monospace: $mono-font-name, monospace;
$label-font: $font-name, "Heiti TC", "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft YaHei", sans-serif;
$background-color: #e8e4e4;

@mixin page($width: $page-width) { width: #{$width}; margin: 0 auto; }

* { margin: 0; padding: 0; }
body { margin: 0 auto; font-size: 18px; font-family: #{$font}; color: #555; background-color: $background-color; }
@media screen and (min-width: 889px) {
    body { width: 90%; max-width: 800px; }
}
@media screen and (max-width: 888px) {
    body { width: 90%; }
}
ul {
  list-style-position: inside;
  li { padding: .2em 0; list-style-type: circle; }
}
ol {
  list-style-position: inside;
  li { padding: .2em 0; }
}
hr { width: 4em; border: none; border-top: 1px dashed #d0d0d0; border-bottom: 1px dashed #eee; }
.center { text-align: center; }
::selection { color: #eee; background-color: #333; }
a { text-decoration: none; color: #008080; &:hover { color: lighten(#008080, 10%); }; }
strong { color: #804000; }
blockquote { background-color: #eee; padding: 0.5em 1em 0.5em 1.25em; border-left: 5px solid #c9c9c9 !important; border-color: #c9c9c9 !important; font-size: 16px; line-height: 1.6; display: block; overflow: auto; }
pre code { @extend blockquote; }
code { background-color: #eee; padding: 2px 5px; border: 1px dashed #c9c9c9; font-family: #{$monospace}; }
h1, h2 { font-size: 1.4em; }
time { font-family: #{$monospace}; }

header {
  @include page;
  text-align: justify;
  margin: 3em auto;
  line-height: 1.5em;
  &:after { content: ''; width: 100%; display: inline-block; }

  #header {
    display: inline-block;
    position: relative;
    top: 1em;
    h1 {
      font-family: #{$label-font};
      a { @extend a;
        color: #a9a9a9; display: block;
      }
    }
  }

  nav {
    display: inline-block;
    position: relative;
    top: 1em;
    span { margin: .5em; }
    a {
      font-size: 1.25em;
      font-family: #{$label-font}; color: #ccc;
    }
  }
}

#content {
  @include page;
  line-height: 2em;
  .main-listing { margin-bottom: 2em; }
}

ul.listing {
  margin-top: 1em;
  li {
    &.listing-item {
      padding: 0;
      list-style-type: none;
      a { padding: .2em 0 .2em 2em; } time { color: #999; } &:hover { background-color: #eee; }
    }
    &.listing-seperator {
      padding: 0;
      list-style-type: none;
      font-family: #{$label-font};
      &:before { content: "⊡ "; color: #ccc; }
    }
  }
}

article {
  margin: 2em 0;
  p { padding: .7em 0; }
  .title {
    font-family: #{$label-font};
    a { @extend a; color: #777; }
  }

  .meta {
    display: block;
    overflow: auto;
    margin-top: -.5em;
    font-size: .9em;
    .tags a { @extend a; color: #999999; padding: .25em; }
  }

  .post {
    margin-top: 2em;
    img { max-width: #{$page-width}; display: block; margin: .5em auto; }
  }

  .comment { margin: 3em 0; }
  .divider {
    margin: 2em 0;

    i { margin: 0 2em; color: #dfd9d9; }

    a { @extend a;
      font-family: #{$label-font};
      font-size: 1.5em;
      margin: 0 2em;
      i { color: #c4baba; margin: 0; &:hover { color: #bb2222 !important; } }
    }
  }
  .divider {
    position: relative;
    font-size: 1em;
    z-index: 1;
    overflow: hidden;
    text-align: center;
  }
  .divider:before, .divider:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 49%;
    height: 2px;
    content: '\a0';
    background-color: #dfd9d9;
  }
  .divider:before { margin-left: -50%; text-align: right; }
  .divider:after { margin-left: 1%; }
}

footer {
  @include page;
  display: block;
  color: #909090;
  font-family: #{$label-font};
  font-size: .9em;
  text-align: center;
  margin: 1em auto;
  a { color: #cccccc; &:hover { color: #999999; }; }

}

#tag_cloud { margin-bottom: 1em; }

// gist
.gist { font-size: 16px; line-height: 1.6; }

// like
.like-wrapper {
  color: #999;
  .like-button, .unlike-button { font-family: "FontAwesome"; padding-right: 5px; }
  .like-button:hover { color: #dd1144; }
  .like-button.liked:hover { color: #999; }
}
